
   /* button {
    display: block;
    padding: 20px 30px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: none;

    color: black;
    background-color: rgb(216, 154, 206);
    
  };

  button:hover,
  button:focus {
      cursor: pointer;
      color: black;
      background-color: rgb(158, 76, 145);
    }; */